body{
    background-image: url(strand.jpeg);
    background-size: cover;
}

div {
    text-align: center;
    font-size: 30px;
    background-color: rgba(255,255,255,0.5);
    font-style: oblique;
    border-radius: 25px;
    outline: auto;
    outline-color: darkmagenta;
    font-style: italic;
    margin-left: 300px;
    margin-right: 300px;
}

a{
    color: black;
    font-size: 25px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    outline: auto;
    outline-color: darkmagenta;
}

